a {
  background-color: #fff;
}
a b {
  background-color: aqua;
}
.father {
  color: red;
  width: 1.81333333rem;
}
.father:hover {
  color: black;
}
.father .son {
  background-color: pink;
}
.father .son:hover {
  color: green;
}
/* 
块注释
*/
